.filter {
}
select {
    padding: 2px;
    border-radius: 5px;
    width: 19%;
    border-style: inset;
    border-width: 2px;
    background-color: rgb(164, 161, 150, 1);
}
div.card-body{
    background-color: rgba(65, 108, 143, 1);
    border-width: 2px;
    border-style: solid;
}
