html,body{
background-image: url('https://wallpaperbro.com/img/312489.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 500px;
margin-top: auto;
margin-bottom: auto;
width: 480px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
height: 60px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 350px;
}

.login_btn:hover{
color: black;
background-color: white;
}