body {
 background-image: url('https://wallpaperplay.com/walls/full/c/7/a/250327.jpg');
    width: 100%;
}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 120px;
}
.login_btn:hover{
    color: black;
    background-color: white;
    border: solid black 1px;
}
.img {
    border: solid 2px rgba(76, 83, 91, 1);
    border-radius: 3px;
    width: 100%;
}
.ad {
    border: solid 1px rgba(76, 83, 91, 1);
    border-radius: 3px;
    width: 100%;
}
.mg_ {
    margin-top: 15px;
}
.naslov {
    color: white;
    background-color: rgba(76, 83, 91, 1);
}
.filtri {
    color: black;
    background-color: white;
    border: solid 1px rgba(76, 83, 91, 1);
    border-radius: 3px;
}
.pad {
    padding: 5px;
}