body {

}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 120px;
}
.login_btn:hover{
    color: black;
    background-color: white;
    border: solid black 1px;
}
.img {
    border: solid 2px rgba(76, 83, 91, 1);
    border-radius: 3px;
    width: 100%;
}