/* Coolors Exported Palette - coolors.co/ffc312-a4a196-4c535b-416c8f-1172b4 */

/* HSL */
$color1: hsla(45%, 100%, 54%, 1);
$color2: hsla(47%, 7%, 62%, 1);
$color3: hsla(212%, 9%, 33%, 1);
$color4: hsla(207%, 38%, 41%, 1);
$color5: hsla(204%, 83%, 39%, 1);

/* RGB */
$color1: rgba(255, 195, 18, 1);
$color2: rgba(164, 161, 150, 1);
$color3: rgba(76, 83, 91, 1);
$color4: rgba(65, 108, 143, 1);
$color5: rgba(17, 114, 180, 1);